<amp-sidebar class="sidebarNavigation i-amphtml-element i-amphtml-layout-nodisplay i-amphtml-display i-amphtml-overlay" id="sidebarNavigation"
    layout="nodisplay" side="right" aria-hidden="true" role="menu" tabindex="-1" style="display: none;" i-amphtml-fixedid="F1">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="https://www.regradetres.com.br/regra-de-tres-simples.html/amp">Regra de Três Simples</a>
		</li>
		<li>
			<a href="https://www.regradetres.com.br/regra-de-tres-composta.html/amp">Regra de Três Composta</a>
		</li>
	</ul>
	<button class="i-amphtml-screen-reader" tabindex="-1">Close the sidebar</button>
</amp-sidebar>