<footer>
    <div class="quarter-section">
        <strong>
            <a href="/">Parceiros</a>
        </strong>
        <ul>
            <li><a href="https://matematicabasica.net" target="_blank">Matemática Básica</a></li>
            <li><a href="https://livraria.online" target="_blank">Livraria Online</a></li>
            <li><a href="https://celularesbaratos.online" target="_blank">Celulares Baratos</a></li>
            <li><a href="https://roupasdamoda.online" target="_blank">Roupas da Moda</a></li>
        </ul>
    </div>  
    <div class="copyright">
        <span class="copyright-year">
            {{- $current := now.Format "2006" }} &copy; {{ if ne .Site.Params.since $current }} {{ .Site.Params.since }} - {{ end }}
            {{- $current }}
            <span>
                -
            </span>
            {{- if or .Site.Copyright .Site.Author.name -}}
            <span class="author">{{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
            {{- end -}}
        </span>
       
    </div>
    
</footer>

{{ partial "amp/google-analytics" . }}
</body>

</html>